*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.banner{
    width: 100%;
    height: 100vh;
  
    background-position: center;
    background-size: center;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
button.son {
    background-color: #304D64;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    width: 120px;
    height: 51px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
button.son:hover {
    background-color: #3D6889;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}
button.zizou {
    background-color: #304D64;
    font-size: 29px;
    font-weight: 600;
    color: #FFFFFF;
    width: 378px;
    height: 91px;
    border-radius: 40px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.zizou:hover {
    background-color: #3D6889;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}
.position-absolute {
    text-align: right;
    right: 5%;
}

.letitre {
    color: white;
    font-size: 107px;
    font-weight: 700;
    text-align: right;
    line-height: 120%;
}
